// HEADER :: START

header#header.header.header--search
	.c-grid

		.header__wrapper
			.header__wrapper-left

				.search
					form(action='' autocomplete='off')
						.search__wrapper
							input(type='text' placeholder='Search...' name='')
							a.search__btn(href="#" class="" title="")
								i.icon-font.icon-search
							a.search__filter(href="#" class="" title="")
								.search__filter-wrapper
									span

			.header__wrapper-right

				.header__menu
					span

// HEADER :: END
